<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a [routerLink]="['/home']" routerLinkActive="active" ><i class="fa fa-fw fa-home"></i>Home</a>
  <a [routerLink]="['/calculadora']" routerLinkActive="active" ><i class="fa fa-fw fa-calculator"></i>Calculadora</a>
  <a [routerLink]="['/evandref']" routerLinkActive="active" ><i class="fa fa-fw fa-shield"></i>EvAndRef</a>
  <a [routerLink]="['/listadecompras']" routerLinkActive="active" ><i class="fa fa-fw fas fa-cart-plus"></i>ListaCompras</a>
  <a [routerLink]="['/chuck']" routerLinkActive="active" ><i class="fa fa-fw fa-smile-o"></i>ChuckNorris</a>
  <a [routerLink]="['/p-color']" routerLinkActive="active" ><i class="fa fa-fw fas fa-paint-brush"></i>CorPorParametro</a>


</div>









